<div class= "routine" style="background-image: url('<%= asset_path "https://images.squarespace-cdn.com/content/v1/5a812949c027d87aa221e53a/1582295535593-KA7D9UTJ1JOX8BNCAIMR/image-asset.jpeg?format=2500w" %>')">
  <div class="qroutine">
    <div class="result">
      <%= @user_routine.routine.name %>
    </div>
      <%#= @user_routine.routine_product %>
      <div class="flex-container">
        <div class="steps">
          <ul> Step 1. </ul>
          <ul> Step 2. </ul>
          <ul> Step 3. </ul>
          <ul> Step 4. </ul>
        </div>
          <%  @user_routine.routine.routine_products.each do |f| %>
            <div class="card">
            <p><%= f.product.name %></p>
              <div class="price">
                <%= f.product.price %>
              </div>
            <%= link_to "BUY", f.product.products_url %>
          </div>
        <% end %>
      </div>
  </div>
</div>

<%#= @user_routine.routine.routine_product %>
    <%#= link_to question_path(@question), class: 'btn btn-primary' %>
