<div class= "home" style="background-image: url('<%= asset_path "foto_home.png" %>');min-height: 90vh ">
  <div class="category-container" style="height: 100%;">
    <%  @category.products.each do |product| %>
      <div class= "category-product-card">
        <div class= "product-picture">
          <% if product.photo.attached? %>
            <%= cl_image_tag product.photo.key, height: 175, width: 175, crop: :fill %>
          <% end %>
        </div>
        <p><%= product.name %></p>
              <div class="price">
                <%= product.price %>
              </div>
            <%= link_to "BUY", product.products_url %>
      </div>
    <% end %>
  </div>
</div>

<%# <% @categories.each do |category| %>
    <%# <%<%= category.name %>
    <%# <%= category.description %>
  <%# <% end %>
