<div class= "home-categories" style="background-image: url('<%= asset_path "foto_home.png" %>');min-height: 90vh ">
  <p class="category-header"><%= @category.name.capitalize %></p>
  <div class="category-container" style="height: 100%;">
    <%  @category.products.each do |product| %>
      <div class= "category-product-card">
        <div class= "product-picture">
          <% if product.photo.attached? %>
            <%= cl_image_tag product.photo.key, height: 175, width: 175, crop: :fill %>
          <% end %>
        </div>
          <div class="categories-name">
            <p><%= product.name %></p>
          </div>
          <div class="price">
            <%= link_to "Buy from #{ product.price}$", product.products_url %>
          </div>
            <%# <%= link_to "BUY", product.products_url %>
      </div>
    <% end %>
  </div>
</div>
