<div class= "home" style="background-image: url('<%= asset_path "foto_home.png" %>')">
  <div class="category-container">
    <%  @category.products.each do |product| %>
      <div class= "category-product-card">
        <div class= "product-picture">
          <% if product.photo.attached? %>
            <%= cl_image_tag product.photo.key, height: 175, width: 175, crop: :fill %>
          <% end %>
        </div>
        <p><%= product.name %></p>
      </div>
    <% end %>
</div>

<%# <% @categories.each do |category| %>
    <%# <%<%= category.name %>
    <%# <%= category.description %>
  <%# <% end %> 
